<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!-- WCF Service Configuration -->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyServiceTypeBehaviors">
					<!-- Add the ServiceMetadataBehavior to enable metadata exchange -->
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="LogoObjectsAPI.LogoService" behaviorConfiguration="MyServiceTypeBehaviors">
				<endpoint address="LogoObjectsAPI" binding="basicHttpBinding" contract="LogoObjectsAPI.ILogoService" />
				<!-- Add the metadata exchange endpoint -->
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>
		</services>
	</system.serviceModel>

	<!-- Add Tracing Configuration -->
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
			<!-- Add your custom source for LogoService -->
			<source name="LogoServiceTraceSource" switchValue="Information, ActivityTracing">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\LogoObjectsAPI\LogoObjectsAPI\bin\Debug\LogoServiceTraces.svclog" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>
